
.amountOfFiles {
    display: inline-block;
    margin-right: 20px;
}

.arrow:after {
    position: absolute;
    left: 160px;
    top: 175px;
    width: calc(100% - 196px);
    height: 1px;
    content: '';
    border-bottom: 1px solid grey;
}